<div class="stepper">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <mat-icon aria-hidden="false" [class]="page==1?'material-symbols-outlined blue':'turned blue'" aria-label="Example home icon" fontIcon="stop"></mat-icon>
  <mat-icon aria-hidden="false" [class]="page==2?'material-symbols-outlined blue':'turned blue'" aria-label="Example home icon" fontIcon="stop"></mat-icon>
  <mat-icon aria-hidden="false" [class]="page==3?'material-symbols-outlined blue':'turned blue'" aria-label="Example home icon" fontIcon="stop"></mat-icon>
    </div>
