
<div class="main" [ngStyle]="main">
  <navbar-component
  (animationHome)="StartAnimation(20,65,'/')"
  (animationCs)="StartAnimation(20,50,'/cs')"
  (animationPersonal)="undefined"
  ></navbar-component>
  
  <div class="row" [@fadeIn] [@fadeOut]="state">
    <div class="col-8 offset-3">
      <h3>Qui suis-je ?</h3>
      <p>Je suis Colin THOMAS, élève étudiant à l'INSA de Lyon, actuellement en échange à NTNU, Trondheim, Norvège.
        <br/>
        Je suis à la recherche d'un P.F.E (Projet de Fin d'Etude), qui pourrait éventuellement déboucher sur un premier emploi.
        
      </p>
      <h4>Passionné de musique </h4>
      <ul>
        <li>
          12 ans de piano
        </li>
        <li>
          4 ans de saxophone
        </li>
        <li>
          Production de musique assistée par ordinateur
        </li>
        <li>
          Section Musique-Etude de l'INSA de Lyon
        </li>
      </ul>
      <h4>Mon parcours scolaire</h4>
      <img src="../../assets/timeline.png" class="timeline"/>
    </div>
  </div>
</div>