.main {
  margin: 0;
  padding: 0;
  min-height: 101%;
  background: linear-gradient(
    to right,
    #011c24 0%,
    #011c24 20%,
    #dbebf1 20%,
    #dbebf1 100%,
  );
}
.timeline {
    width:100%;
}
.light {
  p {
    color: white;
  }
}
.drapeau {
  font-size: 0.5em;
}
.row {
  max-width: 100%;
}
