.main {
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    to right,
    #011c24 0%,
    #011c24 65%,
    #dbebf1 65%,
    #dbebf1 100%,
  );
}
.background1{
    z-index: -1;
    position: absolute;
    top:0;
    left:0;
    margin:0;
    width:65vw;
    height:100%;
    background-color: rgb(36, 36, 36);
    background-color: #E53124;
    background-color: #210124;
}.background2{
    z-index: -1;
    position: absolute;
    top:0;
    left:65vw;
    margin:0;
    width:35vw;
    height:100%;
    background-color: lightgreen;
    // background-color: #25291C;
    background-color: #5F6062;
    background-color: #BDC2BF;
}
.navbar{
    height:18vh;
}
.navbar-toggler{
    border:0;
}
.navbar-toggler:focus{
    box-shadow: none;
}
.row {
    margin-top:10vh;
    width:100%
}
.profile {
    height:30vw;
    object-fit: cover;
    margin-top:-100px;
}
.profile-background{
    position: absolute;
    
}
p {
    color: white;
    
    color: #BDC2BF;
    color:white;
}
.bottom-row{
    padding:5em;
    padding-top:0;
    padding-bottom:3em;
    margin-top:2em
}
.secondary-color {
    
    color:#011c24,
}