
<div class="main" [ngStyle]="main">
  <navbar-component
  (animationHome)="StartAnimation(darkWidth,65,'/')"
  (animationCs)="StartAnimation(darkWidth,50,'/cs')"
  (animationPersonal)="undefined"
  ></navbar-component>
  
  <div class="row" [@fadeIn] [@fadeOut]="state">
    <div class="col-2 mx-3 light">
      <p class="h5">Compétences</p>
      <p>
        Développement web<br/>
        Développement logiciel<br/>
        Bases de données<br/>
        Infrastructure
      </p>
      
      <p class="h5">Langages et frameworks pratiqués</p>
      <p>
        C, C++,
        HTML/CSS/JS,
        React, Angular, VueJS,
        Python, Flask,
        Java, Java Spring,
        .NET
      </p>
      <p class="h5">Langues</p>
      <p>
      <img
  src="https://flagcdn.com/w20/fr.png"
  width="16"
  height="12"
  alt="France">
  &nbsp;&nbsp;Francais - langue maternelle
      <br/>
      <img
  src="https://flagcdn.com/w20/us.png"
  srcset="https://flagcdn.com/32x24/us.png 2x,
    https://flagcdn.com/48x36/us.png 3x"
  width="16"
  height="12"
  alt="USA">&nbsp;&nbsp; Anglais - niveau C1
      <br/>
      <img
  src="https://flagcdn.com/w20/de.png"
  width="16"
  height="12"
  alt="Germany">&nbsp;&nbsp; Allemand - niveau B1</p>
      <p class="h5">Centres d'interet</p>
      <p>🎹 &nbsp;Piano<br/>
        🥾 &nbsp;Randonnée<br/>
        🏃 &nbsp;Course</p>
    </div>

    <div class="col-8 offset-1 dark">
      <p class="h3">Qui suis-je ?</p>
      <p>Je suis Colin THOMAS, élève étudiant à l'INSA de Lyon, en stage à Arturia, à Grenoble. 
        <br/>
        Je serai diplômé en Septembre 2024.
      </p>
      <a  href="./assets/cv.pdf" download="CV THOMAS Colin">
        <button class="btn">Télécharger mon CV</button>
      </a>
      <p class="mt-4 h4">Mon parcours scolaire</p>
      <img src="./assets/timeline.png" class="timeline" (click)="onClickImage()"/>

      
      <p class="h4">Passionné de musique</p>
      <ul>
        <li>
          J'ai fait 12 ans de piano en conservatoire, et 6 ans de jazz en ensemble
        </li>
        <li>
          J'ai fait 4 ans de saxophone en conservatoire
        </li>
        <li>
          J'ai participé 3 ans à des cours de production de musique assistée par ordinateur, et c'est ce qui m'intéresse le plus en ce moment
        </li>
        <li>
          J'ai participé à la section Musique-Etudes de l'INSA de Lyon
        </li>
        <li>
          J'ai été l'accompagnateur de la chorale de l'INSA de Lyon
        </li>
        <li>
          <a href="https://www.youtube.com/@colin6665">La chaine Youtube où je publie ce que je fais en production musicale</a> - 
          <a href="https://musescore.com/user/21039521">Les partitions que j'ai composées il y a quelques années</a>
        </li>
      </ul>
    </div>
  </div>
  
  <stepper-component [page]="3"></stepper-component>
</div>