
<div class="main" [ngStyle]="main">
  <navbar-component
  (animationHome)="StartAnimation(20,65,'/')"
  (animationCs)="StartAnimation(20,50,'/cs')"
  (animationPersonal)="undefined"
  ></navbar-component>
  
  <div class="row" [@fadeIn] [@fadeOut]="state">
    <div class="col-2 mx-3 light">
      <p class="h5">Compétences</p>
      <p>
        Développement web<br/>
        Développement logiciel<br/>
        Bases de données<br/>
        Infrastructure
      </p>
      
      <p class="h5">Langages et frameworks pratiqués</p>
      <p>
        C, C++,
        HTML/CSS/JS,
        React, Angular, VueJS,
        Python, Flask,
        Java, Java Spring,
        .NET
      </p>
      <p class="h5">Langues</p>
      <p>
      <img
  src="https://flagcdn.com/w20/fr.png"
  width="16"
  height="12"
  alt="France">
  &nbsp;&nbsp;Francais - langue maternelle
      <br/>
      <img
  src="https://flagcdn.com/w20/us.png"
  srcset="https://flagcdn.com/32x24/us.png 2x,
    https://flagcdn.com/48x36/us.png 3x"
  width="16"
  height="12"
  alt="USA">&nbsp;&nbsp; Anglais - niveau C1
      <br/>
      <img
  src="https://flagcdn.com/w20/de.png"
  width="16"
  height="12"
  alt="Germany">&nbsp;&nbsp; Allemand - niveau B1</p>
      <p class="h5">Centres d'interet</p>
      <p>🎹 &nbsp;Piano<br/>
        🥾 &nbsp;Randonnée<br/>
        🏃 &nbsp;Course</p>
    </div>

    <div class="col-8 offset-1">
      <h3>Qui suis-je ?</h3>
      <p>Je suis Colin THOMAS, élève étudiant à l'INSA de Lyon, actuellement en échange à NTNU, Trondheim, Norvège.
        <br/>
        Je suis à la recherche d'un P.F.E (Projet de Fin d'Etude), pouvant commencer en février 2024 et durer 6 mois.
      </p>
      <h4 class="mt-4">Mon parcours scolaire</h4>
      <img src="./assets/timeline.png" class="timeline"/>

      
      <h4>Passionné de musique </h4>
      <ul>
        <li>
          12 ans de piano en conservatoire
        </li>
        <li>
          4 ans de saxophone
        </li>
        <li>
          Production de musique assistée par ordinateur
        </li>
        <li>
          Section Musique-Etude de l'INSA de Lyon
        </li>
      </ul>
    </div>
  </div>
</div>