<div class="main" [ngStyle]="main">
  <navbar-component
  (animationHome)="StartAnimation(50,65,'/')"
  (animationCs)="undefined"
  (animationPersonal)="StartAnimation(50,personalDarkWidth,'/personal')"></navbar-component>
  <div class="row" [@fadeIn] [@fadeOut]="state">
    <div class="col-6">
      <p class="h4 px-5">Projets scolaires et stages</p>
      <div class="row mt-3">
        <div class="col-md-5 mx-md-5 py-3">
          <div class="card mb-3 p-1">
            <p class="h6 color-secondary text-center">Aperit'IF</p>
            <p class="color-secondary text-center">Un projet mené avec mes collèges étudiants, utilisant le web 3.0.</p>
            <a class="color-secondary text-center">GitHub du projet</a>
            
          </div>
          <div class="card mb-3 p-1">
            <p class="h6 color-secondary text-center">Aide aux échanges</p>
            <p class="color-secondary text-center">Projet de site d'entraide entre étudiants pour les informations et les conseils concernant les échanges Erasmus et autres.</p>
            <p class="color-secondary text-center">Technologies utilisées : Angular, Java Spring.</p>
            <a class="color-secondary text-center">GitHub du projet</a>
          
          </div>
        </div>
        
        <div class="col-md-5 py-3">
          <div class="card mb-3 p-1">
            <p class="h6 color-secondary text-center">Stage BAC+3</p>
            <p class="color-secondary text-center">Portage d'une application mobile cross-plateforme destinée aux concessionnaires automobiles.</p>
            <p class="color-secondary text-center">Technologies utilisées : .NET Maui, Django.</p>
            <a class="color-secondary text-center">Entreprise : Indeso.</a>
            
          </div>
          <div class="card mb-3 p-1">
            <p class="h6 color-secondary text-center">Stage BAC+4</p>
            <p class="color-secondary text-center">Développement web pour une application de reconnaîssance de voiture.</p>
            <p class="color-secondary text-center">Technologies utilisées : Angular, Python Flask, Jasmine, Pytest, AWS.</p>
            <a class="color-secondary text-center">Entreprise : Apimove.</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 light"> 
      <p class="h4 color-secondary px-5">Projets personnels</p>
      <div class="row mt-3">
        <div class="col-md-5 mx-md-5 py-3">
          <div class="card mb-3 p-1">
            <p class="h6 color-secondary text-center">Un Doua De Jazz</p>
            <p class="color-secondary text-center">Site Web développé en solo pour le plus grand festival étudiant de jazz en France, UnDouaDeJazz.</p>
            <p class="color-secondary text-center">Technologies utilisées : ReactJS.</p>
            <a class="color-secondary text-center">Disponible ici</a>
            
          </div>
          <div class="card mb-3 p-1">
            <p class="h6 color-secondary text-center">Ce site web</p>
            <p class="color-secondary text-center">Technologies utilisées : Angular.</p>
          
          </div>
        </div>
        
        <div class="col-md-5 py-3">
          <div class="card mb-3 p-1">
            <p class="h6 color-secondary text-center">Plugin de Sampling</p>
            <p class="color-secondary text-center">Sampler basique, projet personnel de découverte sur le Framework Juce.</p>
            <p class="color-secondary text-center">Technologies utilisées : Juce Framework, C++.</p>
            <a class="color-secondary text-center">GitHub du projet</a>
            
          </div>
          <div class="card mb-3 p-1">
            <p class="h6 color-secondary text-center">Un ancien portfolio</p>
            <p class="color-secondary text-center">Portfolio réalisé il y a plusieurs années, dans des technologies différentes.</p>
            <p class="color-secondary text-center">Technologies utilisées : ReactJS, Django.</p>
            <a class="color-secondary text-center">Encore disponible ici</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>