.main {
    // height: 100%;
    // min-height: 100vh;
    margin: 0;
    padding: 0;
    min-height:101%;
    background: linear-gradient(
      to right,
      #004A5E 0%,
      #004A5E 65%,
      #d6dde0 65%,
      #d6dde0 100%,
    );
}
.row {
    margin-top:10vh;
    width:100%
}
.profile {
    height:30vw;
    object-fit: cover;
    margin-top:-100px;
}
.profile-background{
    position: absolute;
    
}
p {
    color: white;
    
    color: #BDC2BF;
    color:white;
}a{
    cursor:pointer;
}
.bottom-row{
    padding:5em;
    padding-top:0;
    padding-bottom:3em;
    margin-top:2em
}
.secondary-color {
    
    color:#004A5E,
}
.white-link {
    color:white;
}
.row {
  max-width: 100%;
}

@media (max-width : 1200px) {
    .main {
        min-width:100%;
        min-height:101%;
    }
    .profile {
        position: absolute;
        height: 50vw;
        right:0vw;
        width:45vw;
        top:25vh;
        
        
    }
    .row {
        margin-top: 0;
    }
    .h1{
        margin-top:3vh;
      font-size:1.6em;
      width:50vw;
    }
    .h2{
        width:50vw;
    font-size:1.3em;
    }
    .pfe{
        position: absolute;
        background-color: white;
        // border:dashed 2px #004A5E;
             text-align: center;
        top:45vh;
        left:15vw;
        width:70vw;
        margin:auto;
    font-size:1.4em;
    color:#004A5E;
    padding:1vw;
	border: 3px solid;
        border-image: linear-gradient(45deg, #b8bec0, #00252f) 1;
    }
    .bottom-row{
        margin-top:35vh;
        padding:0vw;
        margin-bottom:0;
        margin-right:0;
        width:100%;
        margin-right:0;
        .offset-3{
            margin-left:15vw;
            width:32vw;
        }
        .h6{
            
            font-size: 1em;
        }
        .col-6{
            width:47vw;
            margin-left:5vw;
        }
        .h5{

            font-size: 1em;
        }
    }
}