
<div [ngStyle]="main" class="main" id="main">
  <navbar-component
  (animationHome)="undefined"
  (animationCs)="StartAnimation(65,50,'cs')"
  (animationPersonal)="StartAnimation(65,personalDarkWidth,'personal')"
  ></navbar-component>
  <div class="row" [@fadeOut]='state' [@fadeIn]>

    <div class="offset-1 col-5 pl-5 pt-5">
      <p class="h1 align-middle">Etudiant Ingénieur <br /> en informatique</p>
      <p class="h2 align-middle">à l'<span class="fw-bold">INSA de Lyon.</span></p>
      <p class="h5 mt-4 pfe">Je suis en recherche d'un <span class="fw-bold">Projet de Fin d'Etudes.</span></p>
    </div>
    <div class="col-2">
      <img class="profile" src="./assets/photo7.png" alt="profile picture"/>
      <!-- <img src="../assets/photoback.svg" class="profile-background"/> -->
    </div>
  </div>
  <div class="row bottom-row" [@fadeOut]='state'>
    <div class="col-6">
      <p class="h6">J'ai pu mener pendant ces années de nombreux projets informatiques, qu'ils soient scolaires ou personnels.</p>
      <a class="h5 white-link" (click)="StartAnimation(65,50,'/cs')">Mes projets et compétences en informatique ↓</a>
    </div>
    <div class="col-3 offset-3">
      <p class="h6 secondary-color">J'ai 21 ans, et serai diplômé en 2024. Je suis passionné de musique.</p>
      <a class="h5 secondary-color" (click)="StartAnimation(65,personalDarkWidth,'/personal')">En savoir plus sur moi ↓</a>
    </div>
  </div>
  <stepper-component [page]="1"></stepper-component>
</div>